{% extends "base.html" %}
{% load static %}
{% block content %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">>
      <div class="container-fluid">
          <a class="navbar-
      </div>
   </nav>





















   <form action="{% url 'redirect_example' %}" method="post">
   {% csrf_token %}
   {{ form.non_field_errors }}
   <div class='container'>
      <div class='row' style="padding-top:20px;">
	 <div class='col-sm-6'>
            <div class='fieldWrapper'>
               {{ form.patientID.errors }}
	       <label for="{{ form.patientID.id_for_label}}">
	          Enter Patient ID:&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{ form.patientID }}</span>
             </div>
	  </div>
      </div>
      <div class='row' style="padding-top:20px;">
        <div class='col-sm-12' style="margin:auto 0px;">
	  <table class="table">
            <caption>Patient Details</caption>
	      <tr>
	        <th>Features</th>
		<th>Values</th>
	      </tr>
	      {% for feature, value in data.items %}
	      <tr>
	        <td>{{ feature|default:"" }}</td>
		<td>{{ value }}</td>
	      </tr>
	      {% endfor %}
          </table>
	</div>
      </div>
      <div style='text-align:center;padding-top:30px;'>
         <button type="submit" value='diagnose' 
		 class="btn-primary"> Diagnose
	 </button>
	 {% if not data.items %}
         <button disabled>
            Visualize
         </button>
	 {% endif %}
	 {% if data.items %}
	 <button type="button" class="btn-success" onclick="displayGraph()">
               Visualize
         </button>
	 {% endif %}
      </div>
   </div>
   </form>
   <hr>
   <p style="padding-top:30px;"></p>
   <div class="container">
   <div class="row">
   <div class="col-sm-7">
   {% if predClass == 0 %}
   <h4>Result</h4>
   <p>You have {{probability}}% chance of not being diabetic</p>
   {% endif %}
   {% if predClass == 1 %}
   <h4>Result</h4>
   <p>You have {{probability}}% chance of having type 1 diabetes</p>
   {% endif %}
   {% if predClass == 2 %}
   <h4>Result</h4>
   <p>You have {{probability}}% chance of having type 2 diabetes</p>
   {% endif %}
   </div>
   <div class="col-sm-5" id = "showgraph" style="display: none;">
           {% include 'graph.html' %}
   </div>
   </div>
   </div>
	<script>
	function displayGraph(){
		var showgraph = document.getElementById("showgraph")
		showgraph.style.display = "block";
	}
	</script>
{% endblock %}
